.booking{
    position: relative;
    border-radius: 3px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.349);
    z-index: inherit;
    background: no-repeat url("../img/1.jfif") right #f6f6f6;
    overflow: hidden;
    padding: 50px;
}

.submit-btn {
    color: #fff;
    background-color: #1cc3b2;
    font-weight: 300;
    height: 38px;
    padding: 0;
    width: 100%;
    border-radius: 2px;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.3px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all
}